/*Start Main Rules*/
*{
    box-sizing: border-box;
}
body{
    height: 5000px;
}
.container {
    width: 1100px;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
ul li {
    padding: 0;
    margin: 0;
}
.logos{
    font-size: 25px;
    height: 100%;
    padding-top: 15px;
    color: white;
}
.white{
    color: white;
}
.logos svg{
    display:inline-block;
    border: 3px solid white;
    outline: 3px solid #353535;
    width: 40px ! important;
    height: 40px;
    padding: 10px;
    background: #353535;
    margin-right: 10px;
    transition: all ease-in-out .3s;
    cursor: pointer;
}
button{
    display:inline-block;
    padding: 5px 10px;
    border: 2px solid #FFFFFF;
    background: transparent;
    margin-right: 8px;
    font-size: 24px;
    font-weight: 100;
    color: #FFFFFF;
    cursor: pointer;
    transition: all ease-in-out .3s;
    font-family: "Arial";
}
h2{
    font-size: 40px;
    padding-top: 30px;
    text-align: center;
}
.upper{
    text-transform: uppercase;
}
.center{
    text-align: center;
}
/*End Main Rules*/
/*Start Begin*/
.begin{
    background: white;
    overflow: hidden;
    margin-bottom: 10px;
}
.begin .container p{
    float:left;
    font-size: 25px;
    color: #FF6C5F;
}
.begin p span{
    font-weight: 900;
}
.begin .container .logos{
    float: right;
}
.begin .container .logos svg:hover{
    outline-color: #446287;
    background: #446287;
}
/*End Begin*/
/*Start Header*/
header{
    background: url(../images/bg.jpg);
    background-size: cover;
    display:table;
    width: 100%;
}
header .layout{
    height: 100%;
    background: rgba(0,0,0,.3);
    display: table-row;
    height: 100%;
    
}
header .layout .container{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}
header .container .bx-wrapper{
    box-shadow: none;
    background: none;
    border: none;
    width: 50%;
    text-align: center;
    margin-left: 50px;
}
header .container .bx-wrapper div{
    color: white;
}
header .container .slider h2{
    font-size: 40px;
}
header .container .slider  h2 span{
    color: #00BCE4;
}

header .container .slider > div button:hover{
    border-color: none;
    background: #FFFFFF;
    color: silver;
}
/*End Header*/
/*Start About*/
.about{
    height: 750px;
    padding-bottom: 50px;
    
}
.about .container > div{
    float: left;
    height: 95%;
    width: 46%;
    margin-right: 4%;
}
.about .container .pic{
    background: url(../images/about.jpg);
    background-size: cover;
    padding: 100px 80px;
    color: white;
}
.about .container .pic ul{
    display: inline-block;
}
.about .container .pic ul li{
    margin:  0 40px 20px 0 ;
}
.about .container .pic .logos svg{
    background: black;
}
.about .container .pic .logos svg:hover{
    background: white;
    color: #353535;
}
.about .container .info p:first-child{
    color: #FF6C5F;
    font-size: 30px;
    font-weight: bold;
}
.about .container .info p:nth-child(2){
    font-size: 20px;
    font-weight: bold;
}
.about .container .info p:nth-child(3),
.about .container .info p:nth-child(4){
    font-size: 14px;
    border-top: 1px dashed black;
    padding: 20px;
    color: #383838;
}
.about .container .info button{
    color: #333333;
    border-color: #333333;
}
.about .container .info button:hover{
    color: white;
    background: #333333;
}
/*End About*/
/*Start services*/
.services{
    height: 600px;
    background: url(../images/services.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.services .container {
    padding-top: 70px;
}
.services .container > div{
    float: left;
    height: 300px;
}
.services .container .cras{
    width: 350px;
}
.services .container .web{
    width: 750px;
    padding-left: 60px;
    overflow: hidden;
}
.services .container span{
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
}
.services .container p{
    color: #CCCCCC;
    line-height: 1.2;
}
.services .container button:hover{
    background: #1CC7D0;
    border-color: transparent;
}
.services .web > div{
    float: left;
    width: 32%;
    margin-right: 1%;
    padding-bottom: 30px;
}
.services .web div svg{
    color: #1CC7D0;
    font-size: 35px;
}
/*End services*/
/*Start Skills*/
.skills{
    height: 600px;
    
}
.skills .container > div{
    height: 600px;
    width: 50%;
    float: left;
}
.skills .container >div:nth-child(2){
    padding-left: 40px;
}
.skills .container span{
    font-size: 24px;
    position: relative;
}
.skills .container > div >span::after{
    content: "";
    position: absolute;
    top: 40px;
    left: 3px;
    width: 108px;
    height: 3px;
    background: #1CC7D0;
}
.skills .container > div >p{
    color: #333333;
    padding: 30px 0;
}
h3 span{
    font-size: 1em;
}
.skills .container .bar{
    height: 20px;
    background: #E5E5E5;
}
.skills .container .bar .progress{
    height: 100%;
    background: #1CC7D0;
}
.skills .container .icons{
    padding:20px 0;
    overflow: hidden;
}
.skills .container .icons div{
    float: left;
    width: 31%;
    margin-right: 2%;
    font-size: 30px;
    text-transform: capitalize;
    text-align: center;
    
}
.skills .container .icons p{
    color: silver;
}
.skills .container .icons div svg{
    display: inline-block;
    width: 70px;
    height: 70px;
    font-size: 24px;
    padding: 20px;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
}
.skills .container .icons div:first-child svg{
    color: #FF4F81;
    border-color: #FF4F81;
}
.skills .container .icons div:nth-child(2) svg{
    color: #1CC7D0;
}
.skills .container .icons div:nth-child(3) svg{
    color: #8E43E7;
}
.skills .container .icons div:nth-child(4) svg{
    color: #FFC20E;
}
.skills .container .icons div:nth-child(5) svg{
    color: #ED1B2E;
}
.skills .container .icons div:nth-child(6) svg{
    color: #7FBB00;
}
/*End Skills*/
/*Start Projects*/
.projects{
    height: 800px;
}
.projects .container > div{
    float: left;
    width: 24%;
    margin-right: 1%;
    height: 200px;
    transition: all ease-in-out .4s;
    overflow: hidden;
    cursor: pointer;
}
.projects .container > div img{
    transition: all ease-in-out .7s;
}
.projects .container >div img:hover{
    transform: perspective(300px) translateZ(50px);
}
/*End projects*/
/*Start Experience*/
.experience{
    padding-bottom: 60px;
}
.experience .container > div{
    float: left;
    width: 47%;
    height: 810px;
    margin-right: 3%;
}
.experience .container .pic{
    background: url("../images/shindey.jpg");
    background-size: 100% 100%;
}
.experience .container .info .headline{
    font-size: 30px;
    color: #FF6C5F;
    font-weight: bold;
}
.experience .container .info P:nth-of-child(2){
    color:#404040;
    line-height: 1.7;
    font-size :20px;
}
.experience .container .info div{
    position: relative;
    margin-top: 50px
}
.experience .container .info div::before{
    content: "";
    border-radius: 50%;
    background: #FF6C5F;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 5px;
    left: -26px;
    
}
.experience .container .info div::after{
    content: "";
    width: 1px;
    background: black;
    height: 210px;
    position: absolute;
    top: 25px;
    left: -16px;
    
}
.experience .container .info div p:first-child{
    color: #C1C1C1;
    font-size :26px;
}
.experience .container .info div p:nth-child(2){
    font-weight :bold;
    font-size :25px;
}
.experience .container .info div p:nth-child(3){
    color: #404040;
    font-size: 20px;
}
/*End Experience*/
/*Start Contact And Copyright*/
.contact{
    background: #171717;
}
.contact .container{
    height: 75%;
}
.contact .container  form ,
.contact .container .info{
    float: left;
    width: 48%;
    height: 75%;
    margin-right: 2%;
}
.contact .container form input ,
.contact .container form textarea ,
.contact .container form button{
    display: block;
    border: 1px solid white;
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
    text-indent: 10px;
    background: transparent;
    font-size: 20px;
    color: white;
}
.contact form textarea{
    height: 100px !important;
}
.contact .container form button{
    color: #171717;
    background: white;
    transition: all ease-in-out .4s;
}
.contact .container form button:hover{
    background: aqua;
    border-color: aqua;
}

.contact .container .info span:first-child{
    color: white;
    font-size: 40px;
}
.contact .container .info :nth-child(2){
    font-size: 20px;
    line-height: 1.6;
}
.contact .container .info p{
    color: #a7a7a7;
    font-size: 22px;
}
.copyright{
    background: black;
    padding-top: 10px;
}
.copyright .container {
    position: relative;
}
.copyright .thank{
    float: left;
    font-size: 24px;
    color: white;
}
.copyright .sayed{
    color: #8a8888;
    text-align: left;
    position: absolute;
    bottom: 10px;
    font-size: 20px;
    font-family: serif;
}

.copyright .connect{
    float: right;
}
.copyright .connect span{
    font-size: 30px;
    color: white;
}
.copyright .connect svg{
    color: silver;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
    padding: 6px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}
.copyright .connect svg:hover{
    transform: rotate(360deg);
}
.copyright .container > span{
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 24px;
    border-radius: 50%;
    border: 1px solid white;
    background: aqua;
    color: white;
    line-height: 1.7;
    text-align: center;
    cursor: pointer;
}
/*End Header*/
/*Start Menu*/
.menusign{
    position: fixed;
    right: 30px;
    top: 20px;
    font-size: 40px;
    color: #1CC7D0;
    font-weight: 100;
    cursor: pointer;
}
.none {
    display:none;
}
.menu{
    text-align: center;
    color: white;
    font-size: 30px;
    background: rgba(0,0,0,.5);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1001;
    padding-top: 20px;
}
.menu > div{
    padding: 1.5%;
}
.menu > p{
    position: fixed;
    right: 30px;
    top: -40px;
    font-size: 50px;
    color: white;
    font-family: sans-serif;
    transform: rotate(-1deg);
    cursor: pointer;
}
.menu a{
    color: white;
    text-decoration: none;
    transition: all ease-in-out .4s;
}
.menu a:hover{
    color: aqua;
}
/*End Menu*/


/* Start Loading */
#content{
    display: none;
}
#loading{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #EEE;
}

/* End Loading */